<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">


<!-- 配置springmvc前端控制器-->
  <servlet>
<!-- servlet名称-->
    <servlet-name>springmvc</servlet-name>
<!-- servlet处理类-->
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
<!--加载核心配置文件
      1.resource目录下的自定义springmvc的核心配置文件
 -->
  <init-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:springmvc.xml</param-value>
  </init-param>
<!-- 加载启动项-->
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
<!-- 根据servlet名称选择具体的servlet-->
    <servlet-name>springmvc</servlet-name>
<!-- 匹配模式-->
    <url-pattern>/</url-pattern>
  </servlet-mapping>
<!--解决post乱码问题 -->
  <filter>
    <filter-name>characterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
<!-- 统一字符集-->
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>characterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
<!-- -->
<!-- -->


</web-app>
